/* You can add global styles to this file, and also import other style files */
.k-grid-header th,
.k-grid-header .k-header {
  background-color: #002e6d !important;
  color: white !important;
  font-weight: bold;
}
/* Change the color of the column menu (three vertical dots) to white */
.k-grid-column-menu .k-icon {
  color: white !important; /* Set the color to white */
}
